MYSQL_ROOT_PASSWORD=test
MYSQL_DATABASE=db1
MYSQL_USER=test
MYSQL_PASSWORD=test
MYSQL_PREFIX=omeka_
MYSQL_HOST=db
ENV=test
COMPOSER_AUTH={"gitlab-token":{"actechlab.warwick.ac.uk":"TOKEN"}}
COMPOSER_NO_DEV=0